@model List<RepairExpenseViewModel>

<div class="container mt-4">
    <h2 class="mb-3">Ремонти</h2>
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Номер</th>
                <th>Автомобил</th>
                <th>Описание</th>
                <th>Цена</th>
                <th>Дата</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var repair in Model)
            {
                <tr>
                    <td>@repair.CarId</td>
                    <td>@repair.CarDisplayName</td>
                    <td>@repair.Description</td>
                    <td>@repair.Cost</td>
                    <td>@repair.Date.ToShortDateString()</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@repair.Id" class="btn btn-warning btn-sm" style="color: white"><i class="fa-solid fa-pen-to-square"></i> Редактирай</a>
                        <a asp-action="Details" asp-route-id="@repair.Id" class="btn btn-info btn-sm" style="color: white"><i class="fa-solid fa-circle-info"></i> Детайли</a>
                        <a asp-action="Delete" asp-route-id="@repair.Id" class="btn btn-danger btn-sm" style="color: white"><i class="fa-solid fa-trash"></i> Изтрий</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a href="@Url.Action("Add")" class="btn btn-primary">Добави ремонт</a>
</div>