@model InsuranceExpenseViewModel
@{
    ViewData["Title"] = "Детайли за застраховка";
}
<div class="container mt-4">
    <dl class="row">
        <dt class="col-sm-3">Автомобил</dt>
        <dd class="col-sm-9">@Model.CarDisplayName</dd>
        <dt class="col-sm-3">Марка</dt>
        <dd class="col-sm-9">@Model.Brand</dd>
        <dt class="col-sm-3">Вид гориво</dt>
        <dd class="col-sm-9">@Model.FuelType</dd>
        <dt class="col-sm-3">Компания</dt>
        <dd class="col-sm-9">@Model.Provider</dd>
        <dt class="col-sm-3">Стойност</dt>
        <dd class="col-sm-9">@Model.Amount</dd>
        <dt class="col-sm-3">Закупване</dt>
        <dd class="col-sm-9">@Model.StartDate</dd>
        <dt class="col-sm-3">Валидност</dt>
        <dd class="col-sm-9">@Model.EndDate</dd>
    </dl>
    <a asp-action="Index" class="btn btn-primary">Назад</a>
</div>