@model List<InsuranceExpenseViewModel>

<div class="container mt-4">
    <h2 class="mb-3">Застраховки</h2>
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Автомобил</th>
                <th>Компания</th>
                <th>Цена</th>
                <th>Валидност</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var insurance in Model)
            {
                <tr>
                    <td>@insurance.CarId</td>
                    <td>@insurance.Provider</td>
                    <td>@insurance.Amount</td>
                    <td>@insurance.EndDate.ToShortDateString()</td>
                </tr>
            }
        </tbody>
    </table>
    <a href="@Url.Action("Add")" class="btn btn-primary">Добави застраховка</a>
</div>