@model MonthlyReportViewModel
@{
    ViewData["Title"] = "Детайли за месечен отчет";
}

<h2>@ViewData["Title"]</h2>

<dl class="row">
    <dt class="col-sm-4">Автомобил</dt>
    <dd class="col-sm-8">@Model.CarModel</dd>

    <dt class="col-sm-4">Месец</dt>
    <dd class="col-sm-8">@Model.Date</dd>

    <dt class="col-sm-4">Изминати километри</dt>
    <dd class="col-sm-8">@Model.TotalKilometers</dd>

    <dt class="col-sm-4">Изразходвано гориво (литри)</dt>
    <dd class="col-sm-8">@Model.FuelLiters</dd>

    <dt class="col-sm-4">Цена на гориво</dt>
    <dd class="col-sm-8">@Model.FuelCost</dd>

    <dt class="col-sm-4">Брой ремонти</dt>
    <dd class="col-sm-8">@Model.TotalRepairs</dd>

    <dt class="col-sm-4">Разходи за ремонти</dt>
    <dd class="col-sm-8">@Model.RepairCost</dd>

    <dt class="col-sm-4">Разходи за застраховки</dt>
    <dd class="col-sm-8">@Model.InsuranceCount</dd>
</dl>

<a asp-action="Index" class="btn btn-primary">Назад</a>